[Unit]
Description=air heat and wetness demon

[Service]
User=science
ExecStart=/home/science/code/science-daemons/aird
KillMode=process
Restart=on-failure

[Install]
WantedBy=default.target
