[Unit]
Description=laundry daemon

[Service]
User=science
ExecStart=/home/science/code/science-daemons/laundryd
KillMode=process
Restart=on-failure

[Install]
WantedBy=default.target
