[Unit]
Description=science light daemon

[Service]
User=science
ExecStart=/home/science/code/science-daemons/lightd
ExecStopPost=/usr/bin/gpio write 7 0
KillMode=process
Restart=on-failure

[Install]
WantedBy=default.target
