[Unit]
Description=telling daemon
Requires=mosquitto.service

[Service]
User=ted
ExecStart=/home/ted/code/science-daemons/tellerd
KillMode=process
Restart=on-failure

[Install]
WantedBy=default.target
