[Unit]
Description=plant thirst daemon

[Service]
User=science
ExecStart=/home/science/code/science-daemons/waterd
ExecStopPost=/usr/bin/gpio write 21 0
KillMode=process
Restart=on-failure

[Install]
WantedBy=default.target
